</!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

	<title>Sascha</title>

    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />


    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />


    <link rel="stylesheet" href="css/conf_parametros.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section id="">
        <h3>Configuración de Parámetros</h3> 
        <!-- Inicio pagina parametros -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <!-- Tabla de parametro -->
                        <div class="pull-right">
                            <a id="btnAgregarParametro" href="#modal-agregar-parametro" data-toggle="modal" class="btn btn-agregar">
                                Configurar
                            </a>
                        </div>
                        <table class="table table-bordered table-striped table-condensed cf" id="dtParametros">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo Parámetro</th>
                                    <th>Tipo de valor</th>
                                    <th>Unidad</th>
                                    <th class="ancho-columna">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <th>Peso</th>
                                    <td>Antropométrico</td>
                                    <th>Real</th>
                                    <th>Kg</th>
                                    <td>
                                        <div class="btn-group">
                                            <a href="#modal-editar-parametro" data-toggle="modal" class="btn btn-transparente"><i class="fa fa-pencil"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-transparente"><i class="fa fa-trash-o"></i></button>
                                        </div>

                                    </td>
                                </tr>
                                <tr class="">
                                    <th>Diabetes</th>
                                    <td>Patología</td>
                                    <th>Nominal</th>
                                    <th>-</th>
                                    <td>
                                        <div class="btn-group">
                                            <a href="#modal-editar-parametro" data-toggle="modal" class="btn btn-transparente"><i class="fa fa-pencil"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-transparente"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>              
                            </tbody>
                        </table>

                    </div>
                </section>
            </div>
        </div>
        <!-- Fin pagina parametros -->

        <!-- Modales de agregar y editar -->

        <!-- Modal Agregar parametro -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-agregar-parametro" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar parametro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="frmAgregarParametro">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tipo de Parámetro:</label>
                                <div class="col-md-9">
                                    <select id="selTipoParametro" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">Antropométrico</option>
                                        <option value="02">Patología</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nombre de Parámetro:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtNombreParametro" style="width: 100%">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tipo de Valor:</label>
                                <div class="col-md-9">
                                    <select id="selTipoValor" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">Real</option>
                                        <option value="02">Nominal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tipo de Unidad:</label>
                                <div class="col-md-9">
                                    <select id="selTipoUnidad" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">Masa</option>
                                        <option value="02">Tiempo</option>
                                        <option value="03">Longitud</option>
                                        <option value="04">Cantidad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Unidad:</label>
                                <div class="col-md-9">
                                    <select id="selUnidad" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">kilogramos</option>
                                        <option value="02">gramos</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-cancelar">Cancelar</button>
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar parametro -->

        <!--main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->

<!--Core js-->
<script src="js/jquery-1.8.3.min.js"></script>
<script src="bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/bootstrap-switch.js"></script>

<!-- tablas editables -->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

    <script type="text/javascript" src="js/gritter/js/jquery.gritter.js"></script>
    <!--common script init for all pages-->
    <script src="js/scripts.js"></script>
    <!--script for this page-->
    <script src="js/gritter.js" type="text/javascript"></script>
<!--script for this page only-->
<script src="js/conf_parametros.js" type="text/javascript"></script>
<!-- END JAVASCRIPTS -->

</body>
</html>