</!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Sascha</title>

    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="css/bootstrap-switch.css" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery-multi-select/css/multi-select.css" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/conf_sistema.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <section id="container" >

        <!--main content start-->
        
        <h3>Configuración del Sistema</h3>
        <!-- Inicio pagina Motivos-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Motivos
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-up"></a>
                        </span>
                    </header>
                    <div class="panel-body">

                        <!-- Tabla de motivos -->
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#modal-agregar-motivo" data-toggle="modal" class="btn btn-agregar">
                                            Agregar
                                        </a>
                                    </div>
                                </div>    
                            </div>

                            <table class="table table-striped table-hover table-bordered" id="dtMotivos">
                                <thead>
                                    <tr>
                                        <th>Tipo de Motivo</th>
                                        <th>Motivo</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>Queja</td>
                                        <td>Nutricionista impuntual</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-motivo" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>Sugerencia</td>
                                        <td>Nuevo Servicio</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-motivo" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>Reclamo</td>
                                        <td>Nutricionista impuntual</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-motivo" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fin pagina Motivos-->

        <!-- Inicio pagina Respuestas-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Respuestas
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-up"></a>
                        </span>
                    </header>
                    <div class="panel-body">

                        <!-- Tabla de Respuestas -->
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#modal-agregar-respuesta" data-toggle="modal" class="btn btn-agregar">
                                            Agregar
                                        </a>
                                    </div>
                                </div>    
                            </div>

                            <table class="table table-striped table-hover table-bordered" id="dtRespuestas">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Descripción Respuesta</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>Queja</td>
                                        <td>Disculpe, no volvera a repetirse</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-respuesta" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fin pagina Respuestas-->

        <!-- Inicio pagina Criterios -->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Criterios de Valoración
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-up"></a>
                        </span>
                    </header>
                    <div class="panel-body">

                        <!-- Tabla de Criterios -->
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#modal-agregar-valoracion" data-toggle="modal" class="btn btn-agregar">
                                            Agregar
                                        </a>
                                    </div>
                                </div>    
                            </div>

                            <table class="table table-striped table-hover table-bordered" id="dtCriterios">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>Te gusto la atención?</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-valoracion" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fin pagina Notificaciones Criterios-->

        <!-- Inicio pagina Filtros-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Filtros
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-up"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <!-- Tabla de Filtros -->
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#modal-agregar-filtro" data-toggle="modal" class="btn btn-agregar">
                                            Agregar
                                        </a>
                                    </div>
                                </div>    
                            </div>

                            <div class="space15"></div>
                            <table class="table table-striped table-hover table-bordered" id="dtFiltros">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>Patología</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#modal-editar-filtro" data-toggle="modal" class="btn btn-acciones"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-acciones"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fin pagina Filtros -->

        

        <!-- Inicio de Modales -->
        <!-- Modal Agregar Motivo -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-agregar-motivo" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar Motivo</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tipo de Motivo</label>
                                <div class="col-lg-6">
                                    <select id="select-tipo-parametro" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">Incidencias</option>
                                        <option value="02">Quejas</option>
                                        <option value="02">Reclamos</option>
                                        <option value="02">Solicitudes</option>
                                        <option value="02">Sugerencias</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción Motivo</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="agregar-nombre-motivo" style="width: 100%">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar Motivo -->

        <!-- Modal Editar Motivo -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-editar-motivo" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Editars Motivo</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tipo de Motivo</label>
                                <div class="col-lg-6">
                                    <select id="select-tipo-parametro" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="01">Incidencias</option>
                                        <option value="02">Quejas</option>
                                        <option value="02">Reclamos</option>
                                        <option value="02">Solicitudes</option>
                                        <option value="02">Sugerencias</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción Motivo</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="editar-nombre-motivo" style="width: 100%" value="Nuevo Servicio">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal editar Motivo -->

        <!-- Modal Agregar Respuesta -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-agregar-respuesta" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar Respuesta</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tipo de Respuesta</label>
                                <div class="col-lg-6">
                                    <select id="select-tipo-parametro" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="02">Quejas</option>
                                        <option value="02">Reclamos</option>
                                        <option value="02">Sugerencias</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción Respuesta</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="agregar-nombre-respuesta" style="width: 100%">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar respuesta -->

        <!-- Modal Editar Respuesta -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-editar-respuesta" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Editar Respuesta</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tipo de Respuesta</label>
                                <div class="col-lg-6">
                                    <select id="select-tipo-parametro" class="form-control" style="width: 100%">
                                        <option value="00">Seleccione</option>
                                        <option value="02">Quejas</option>
                                        <option value="02">Reclamos</option>
                                        <option value="02">Sugerencias</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción Respuesta</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="editar-nombre-respuesta" style="width: 100%" value="Disculpe, no volvera a repetirse">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal editar Respuesta -->

        <!-- Modal Agregar Criterio de Valoracion -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-agregar-valoracion" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar Criterio de Valoracion</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="agregar-nombre-valoracion" style="width: 100%">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar Criterio de Valoracion -->

        <!-- Modal Editar Valoracion -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-editar-valoracion" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Editar Criterio de Criterio de Valoracion</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Descripción</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="editar-nombre-valoracion" style="width: 100%" value="Te gusto el Servicio?">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar">Cancelar</button>
                        <button type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal editar Valoracion -->

        <!-- Modal agregar Filtro -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-agregar-filtro" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar filtro</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tipo de Parámetro</label>
                                <select id="e1" class="populate " style="width: 300px">
                                    <option value="00">Seleccione</option>
                                    <option value="01">Antropomertrico</option>
                                    <option value="02">Patologia</option>
                                </select>
                            </div>
                            <h3>Parámetros</h3>
                            <form action="#" class="form-horizontal ">
                                <div class="form-group last">
                                    <label class="control-label col-md-3">Buscar</label>
                                    <div class="col-md-9">
                                        <select name="country" class="multi-select" multiple="" id="ms_parametros" >
                                            <option value="01">Parámetro</option>
                                            <option value="02">Parámetro</option>
                                            <option value="03">Parámetro</option>
                                            <option value="04">Parámetro</option>
                                            <option value="05">Parámetro</option>
                                            <option value="06">Parámetro</option>
                                            <option value="07">Parámetro</option>
                                            <option value="08">Parámetro</option>
                                        </select>
                                    </div>

                                </div>
                            </form>    

                            <div class="form-group last">

                            </div>                                       
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-aceptar">Aceptar</button>
                        <button class="btn btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal agregar Filtro -->

        <!-- Fin Modales -->
        <!--main content end-->
        <!--right sidebar start-->

        <!--right sidebar end-->

    </section>


    <!-- Placed js at the end of the document so the pages load faster -->

    <!--Core js-->

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="bs3/js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/easypiechart/jquery.easypiechart.js"></script>
    <script src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="js/gritter/js/jquery.gritter.js"></script>
    <!--common script init for all pages-->
    <script src="js/scripts.js"></script>
    <!--script for this page-->
    <script src="js/gritter.js" type="text/javascript"></script>
    <!-- tablas editables -->
    <script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>


    <!-- multiselect -->
    <script src="js/bootstrap-switch.js"></script>

    <script type="text/javascript" src="js/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="js/jquery-multi-select/js/jquery.quicksearch.js"></script>

    <!--script for this page only-->
    <script src="js/conf_sistema.js" type="text/javascript"></script>
    <!-- END JAVASCRIPTS -->
</body>
</html>