<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="ThemeBucket">
   <title>Sascha</title>
   <!--Core CSS -->
   <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
   <link href="css/bootstrap-reset.css" rel="stylesheet">
   <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="js/bootstrap-datepicker/css/datepicker.css" />
   <link rel="stylesheet" type="text/css" href="js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
   <link rel="stylesheet" type="text/css" href="js/bootstrap-datetimepicker/css/datetimepicker.css" />
   <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
   <!--external css-->
   <link rel="stylesheet" type="text/css" href="js/gritter/css/jquery.gritter.css" />
   <link rel="stylesheet" type="text/css" href="js/jquery-multi-select/css/multi-select.css" />
   <link href="css/clndr.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="css/style.css" rel="stylesheet">
   <link href="css/style-responsive.css" rel="stylesheet" />
   <link href="css/dashboard.css" rel="stylesheet">

</head>       
<body>
    <div class="row">
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <a id="modalVisitaDiagnostico" href="#visitaDiagnostico" data-toggle="modal">
                <span class="mini-stat-icon light-green"><i class="fa  fa-stethoscope"></i></span>
                <div class="mini-stat-info">
                    <span>3</span>
                    Visitas Diagnóstico
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <a id="modalVisitaControl" href="#visitaControl" data-toggle="modal">
                <span class="mini-stat-icon tar"><i class="fa fa-eye"></i></span>
                <div class="mini-stat-info">
                    <span>5</span>
                    Visitas de Control
                </div>
                </a>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <a id="modalMisClientes" href="#clientes" data-toggle="modal">
                <span class="mini-stat-icon dark-green"><i class="fa fa-medkit"></i></span>
                <div class="mini-stat-info">
                    <span>50</span>
                    Mis Clientes
                </div>
                </a>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <a id="modalValoracionClientes" href="#valoracionCliente" data-toggle="modal">
                <span class="mini-stat-icon medium-green"><i class="fa fa-star"></i></span>
                <div class="mini-stat-info">
                    <span>4.3/5</span>
                    Valoración de los Clientes
                </div>
            </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="event-calendar clearfix">
                <div class="col-md-7 calendar-block">
                    <div class="cal1 ">
                    </div>
                </div>
                <div class="col-md-5 event-list-block">
                    <div class="cal-day">
                        <span>Hoy</span>
                        Visitas
                    </div>
                    <ul class="event-list">
                        <li class="blue">
                            <div class="row">
                                <div class="col-md-10" style="padding-right: 0px">
                                    <span>2:00 pm - Ana Victoria De Palma </span>
                                </div>
                                <a  data-toggle="dropdown" class="dropdown-toggl pull-right" style="color: white !important" href="#">
                                    <i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="visi_registrarVisita.html"><i class=" fa fa-medkit"></i> Atender</a></li>
                                        <li><a href="#"><i class="fa fa-warning"></i> Registrar incidencia</a></li>
                                    </ul>          
                                </div>
                            </li>
                            <li class="blue">
                                <div class="row">
                                    <div class="col-md-10" style="padding-right: 0px">
                                        <span>3:00 pm - Juan Pérez </span>
                                    </div>
                                    <a  data-toggle="dropdown" class="dropdown-toggl pull-right" style="color: white !important" href="#">
                                        <i class="fa fa-ellipsis-v"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class=" fa fa-medkit"></i> Atender</a></li>
                                            <li><a href="#"><i class="fa fa-warning"></i> Registrar incidencia</a></li>
                                        </ul>

                                    </div>
                                </li>                        
                                <li class="blue">
                                    <div class="row">
                                        <div class="col-md-10" style="padding-right: 0px">
                                            <span>3:30 pm - David Colmenarez </span>
                                        </div>
                                        <a  data-toggle="dropdown" class="dropdown-toggl pull-right" style="color: white !important" href="#">
                                            <i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class=" fa fa-medkit"></i> Atender</a></li>
                                                <li><a href="#"><i class="fa fa-warning"></i> Registrar incidencia</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>                     
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <header class="panel-heading">Próximo Cliente <span class="tools pull-right"></span>
                    </header>
                    <div class="panel-body">
                        <h3 style="text-align: center;">María Perez</h3>

                        <div class="info-cliente row">
                           <label class="control-label col-md-3 ">Motivo:</label>
                           <div class="col-md-9"><span >Adelgazar</span> </div>
                       </div>
                       <div class="info-cliente row">
                           <label class="control-label col-md-3 ">Servicio:</label>
                           <div class="col-md-9"><span >Alcanza tu peso ideal</span> </div>
                       </div>
                       <div class="info-cliente row">
                           <label class="control-label col-md-3 ">Visitas:</label>
                           <div class="col-md-9"><span >3/10</span> </div>
                       </div>


                       <span>Historial de Visitas</span>
                       <ul class="event-list">
                        <li style="background: #3da3cb" >
                         <div class="row" >
                             <div class="col-md-7"><a class="a-visita" href="#">19 Abril 2018 </a></div>
                             <div class="col-md-5" style="text-align: center">No Valorada</div>
                         </div>

                     </li>
                     <li style="background: #3da3cb" >
                         <div class="row" >
                             <div class="col-md-7"><a class="a-visita" href="#">12 Abril 2018 </a></div>
                             <div class="col-md-5" style="text-align: center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                         </div>

                     </li>
                     <li style="background: #3da3cb" >
                         <div class="row" >
                             <div class="col-md-7"><a class="a-visita" href="#">8 Abril 2018 </a></div>
                             <div class="col-md-5" style="text-align: center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                         </div>

                     </li>
                 </ul>
                 <div class="text-center">
                    <ul class="pagination pagination-sm">
                        <li><a href="#">«</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>



        </div>
    </div>
</div>

    <!-- Modal visita diagnostico -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="visitaDiagnostico" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-dashboard">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Visita Diagnóstico</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">  
                            <div class="form-group">
                                <table id="dtVisitaDiagnostico" class="display table table-bordered table-striped"  >
                                    <thead>
                                        <tr>
                                            <th width="35%">Cliente</th>
                                            <th width="35%">Fecha de Visita</th>
                                            <th width="30%">Servicio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-cancelar">Cancelar</button>
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal visita diagnostico -->

        <!-- Modal visita Control -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="visitaControl" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-dashboard">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Visita Control</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">  
                            <div class="form-group">
                                <table id="dtVisitaControl" class="display table table-bordered table-striped"  >
                                    <thead>
                                        <tr>
                                            <th width="35%">Cliente</th>
                                            <th width="35%">Fecha de Visita</th>
                                            <th width="30%">Servicio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-cancelar">Cancelar</button>
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal visita control -->

        <!-- Modal mis clientes -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="clientes" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-dashboard">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Mis Clientes</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">  
                            <div class="form-group">
                                <table id="dtMisClientes" class="display table table-bordered table-striped"  >
                                    <thead>
                                        <tr>
                                            <th width="35%">Cliente</th>
                                            <th width="35%">Fecha de Visita</th>
                                            <th width="30%">Servicio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-cancelar">Cancelar</button>
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal Mis clientes -->

        <!-- Modal valoracion de clientes -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="valoracionCliente" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content modal-dashboard">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Valoración de Clientes</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">  
                            <div class="form-group">
                                <table id="dtValoracionClientes" class="display table table-bordered table-striped"  >
                                    <thead>
                                        <tr>
                                            <th width="35%">Cliente</th>
                                            <th width="35%">Fecha de Visita</th>
                                            <th width="30%">Servicio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-cancelar">Cancelar</button>
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal Valoracion Clientes -->

<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="bs3/js/bootstrap.min.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/skycons/skycons.js"></script>
<script src="js/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/calendar/clndr.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="js/calendar/moment-2.2.1.js"></script>



<script src="js/evnt.calendar.init.js"></script>
<script src="js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
<script src="js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
<script src="js/gauge/gauge.js"></script>
<!--clock init-->

<!--Sparkline Chart-->
<script src="js/sparkline/jquery.sparkline.js"></script>
<!--Morris Chart-->

<!--jQuery Flot Chart-->
<script src="js/dashboard.js"></script>
<script src="js/jquery.customSelect.min.js" ></script>
<!--common script init for all pages-->
<script src="js/scripts.js"></script>
</body>
</html>


