</!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <title>Sascha</title>

    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="css/bootstrap-switch.css" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery-multi-select/css/multi-select.css" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/registros_basicos.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <section id="container" >
        <!--main content start-->
        <h3>Registro de Comidas</h3>
        <!-- Inicio pagina de Unidades -->
        <section class="panel">
            <section class="panel-body">
                        <div class="">
                       <div id="msjAlerta" class="alert alert-dismissible" style="display: none;"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div> 
                            <div class="pull-right"  >
                                <a id="btnAgregarComida" class="btn btn-agregar" data-toggle='modal' onclick="agregarComida()" href="#agregarComida">Agregar</a>
                            </div>
                            <br>
                            <table id="dtComidas" class="display table table-bordered table-striped dataTable" style="padding-top: 20px">
                                <thead>
                                    <tr>
                                        <th >Nombre</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                
            </div>

        </section>
    </section>


    <!-- Inicio de Modales -->

        <!-- Modal Agregar Comida -->
        <div class="modal fade" id="agregarComida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="limpiarComida()">&times;</button>
                        <h4 class="modal-title">Agregar Comida</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="frmAgregarComidas">
                            <input type="text" class="form-control" id="txtIdComida" style="display: none;">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nombre:</label>
                                <div class="col-md-9"><input id="txtNombreComida" class="form-control" type="text" name="" value=""/> </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAceptar" type="button" class="btn btn-aceptar">Aceptar</button>
                        <button id="btnEditar" type="button" class="btn btn-aceptar" style="display: none;">Aceptar</button>
                        <button id="btnCancelar" type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Fin Modal Agregar Comida -->

    <!--inicio de la modal eliminar -->
    <div class="modal fade bs-example-modal-sm" id="eliminarComida" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel"><i></i> Confirmar Acción</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="txtIdComidaEliminar" style="display: none;" disabled>
                    <p style="text-align: center;">¿Está seguro que desea eliminar la comida?</p>
                </div>
                <div class="modal-footer">
                    <button id="btnEliminarComida" data-dismiss="modal" onclick="eliminarComida($('#txtIdComidaEliminar').val())" type="button" class="btn btn-aceptar">Aceptar</button>
                    <button id="btnCancelar" type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Modales -->

    <!--main content end-->
    <!--right sidebar start-->

    <!--right sidebar end-->

</section>


<!-- Placed js at the end of the document so the pages load faster -->

<!--Core js-->

<script src="js/jquery-1.8.3.min.js"></script>
<script src="bs3/js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/easypiechart/jquery.easypiechart.js"></script>
<script src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<script type="text/javascript" src="js/gritter/js/jquery.gritter.js"></script>
<!--common script init for all pages-->
<script src="js/scripts.js"></script>
<!--script for this page-->
<script src="js/gritter.js" type="text/javascript"></script>
<!-- tablas editables -->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--script for this page only-->

<script src="js/mensaje.js" type="text/javascript"></script>
<script src="js/regi_comidas.js" type="text/javascript"></script>
<!-- END JAVASCRIPTS -->
</body>
</html>