</!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <title>Sascha</title>

    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="css/bootstrap-switch.css" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery-multi-select/css/multi-select.css" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/registros_basicos.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <section id="container" >
        <!--main content start-->
        <h3>Registro de Unidades</h3>
        <!-- Inicio pagina de Unidades -->
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-justified">
                    <li class="active">
                        <a data-toggle="tab" href="#tabTipoUnidades" aria-expanded="false">Tipo de Unidades</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabUnidades" aria-expanded="false">Unidades</a>
                    </li>
                </ul>
            </header>
            <section class="panel-body">
                <div class="tab-content">
                    <div id="tabTipoUnidades" class="tab-pane active">
                        <div class="">
                            <div class="pull-right">
                                <a id="btnAgregarTipoUnidad" class="btn btn-agregar" data-toggle='modal' href="#agregarTipoUnidad">Agregar</a>
                            </div>
                            <table id="dtTipoUnidad" class="display table table-bordered table-striped dataTable" style="padding-top: 20px">
                                <thead>
                                    <tr>
                                        <th width="85%">Descripción</th>
                                        <th width="15%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tabUnidades" class="tab-pane">
                        <div class="">
                            <div class="pull-right"  >
                                <a id="btnAgregarUnidad" class="btn btn-agregar" data-toggle='modal' href="#agregarUnidad">Agregar</a>
                            </div>
                            <table id="dtUnidad" class="display table table-bordered table-striped dataTable" style="padding-top: 20px">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Abreviatura</th>
                                        <th width="25%">Tipo de Unidad</th>
                                        <th class="ancho-columna">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </section>
    </section>
    </section>


    <!-- Inicio de Modales -->

    <!-- Modal Agregar tipo unidad -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="agregarTipoUnidad" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" onclick="limpiarTipoUnidad()" type="button">×</button>
                        <h4 class="modal-title">Tipo Unidad</h4>
                    </div>
                    <div class="modal-body">
                        <div id="msjAgregar" class="alert alert-danger" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
                        <form class="form-horizontal" role="form" id="frmAgregarTipoUnidad">
                            <input type="text" class="form-control" id="txtIdTipoUnidad" style="display: none;">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nombre:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtNombreTipoUnidad">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAceptartipoUnidad" data-dismiss="modal" type="button" class="btn btn-aceptar">Aceptar</button>
                        <button id="btnEditartipoUnidad" data-dismiss="modal" type="button" class="btn btn-aceptar" style="display: none;">Aceptar</button>
                        <button id="btnCancelarTipoUnidad" onclick="limpiarTipoUnidad()" data-dismiss="modal" type="button" class="btn btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar tipo unidad -->

        <!-- Modal Agregar Unidad -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="agregarUnidad" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" onclick="limpiarUnidad()" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Agregar Unidad</h4>
                    </div>
                    <div class="modal-body">
                       <div id="msjAgregarUnidad" class="alert alert-danger" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
                        <form class="form-horizontal" role="form" id="frmAgregarUnidad">
                            <input type="text" class="form-control" id="txtIdUnidad" style="display: none;">
                            <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="seleTipoUnidad">Tipo de Unidad</label>
                            </div>
                                <div class="col-md-9">
                                    <select id="selTipoUnidad" name="tipo_unidad" class="form-control" style="width: 100%">
                                        <option value="Seleccione" selected="selected" >Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nombre:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtNombreUnidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Abreviatura:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtAbreviaturaUnidad">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAceptarUnidad" type="button" class="btn btn-aceptar">Aceptar</button>
                        <button id="btnEditarUnidad" type="button" class="btn btn-aceptar" style="display: none;">Aceptar</button>
                        <button id="btnCancelarUnidad" type="button" class="btn btn-cancelar" onclick="limpiarUnidad()"  data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal agregar medida -->


        <!--inicio de la modal eliminar -->
        <div class="modal fade bs-example-modal-sm" id="modal-confirmar-1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="gridSystemModalLabel"><i></i> Confirmar Acción</h4>
              </div>
              <div class="modal-body">
                <input type="text" class="form-control" id="txtIdTipoUnidadEliminar" style="display: none;" disabled>
                <p style="text-align: center;">¿Está seguro que desea eliminar el tipo de unidad y todas sus unidades asociadas?</p>
            </div>
            <div class="modal-footer">
              <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button id="btnEliminar" data-dismiss="modal" onclick="eliminarTipoUnidad($('#txtIdTipoUnidadEliminar').val())" type="button" class="btn btn-primary">Aceptar</button>
          </div>
      </div>
  </div>
</div>
        <!--fin de la modal eliminar -->

        <!--inicio de la modal eliminar -->
        <div class="modal fade bs-example-modal-sm" id="eliminarUnidad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel"><i></i> Confirmar Acción</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="txtIdUnidadEliminar" style="display: none;" disabled>
               <p style="text-align: center;">¿Está seguro que desea eliminar la unidad?</p>
            </div>
            <div class="modal-footer">
              <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button id="btnEliminarUnidad" data-dismiss="modal" onclick="eliminarUnidad($('#txtIdUnidadEliminar').val())" type="button" class="btn btn-primary">Aceptar</button>
            </div>
          </div>
        </div>
        </div>
        <!--fin de la modal eliminar -->

    <!-- Fin Modales -->

    <!--main content end-->
    <!--right sidebar start-->

    <!--right sidebar end-->


<!-- Placed js at the end of the document so the pages load faster -->

<!--Core js-->

<script src="js/jquery-1.8.3.min.js"></script>
<script src="bs3/js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/easypiechart/jquery.easypiechart.js"></script>
<script src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<script type="text/javascript" src="js/gritter/js/jquery.gritter.js"></script>
<!--common script init for all pages-->
<script src="js/scripts.js"></script>
<!--script for this page-->
<script src="js/gritter.js" type="text/javascript"></script>
<!-- tablas editables -->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--script for this page only-->
<script src="js/regi_unidad.js" type="text/javascript"></script>
<!-- END JAVASCRIPTS -->
</body>
</html>