.modal-dieta{
	width: 800px;
}


.dataTables_filter label input{
width: 50% !important;
}

.btn-info{
    float: right !important;
background-color: #7ab740;
border-color: #7ab740;

}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #6BC8B5;
    border-color: #6BC8B5;
    color: #FFFFFF;
    float: right !important;
}