.btn-primary{
background-color: #117c66;
border-color: #117c66;

}

.btn-danger{
background-color: #ed404c;
border-color: #ed404c;

}

.btn-info{
background-color: #17aa8b;
border-color: #17aa8b;

}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #6BC8B5;
    border-color: #6BC8B5;
    color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #F1747C;
    border-color: #F1747C;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #519F8F;
    border-color: #519F8F;
    color: #FFFFFF;
}
.panel-collapse{

	margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}