.btn-primary{
background-color: #7ab740;
border-color: #7ab740;

}

.btn-danger{
background-color: #858580;
border-color: #858580;

}

.btn-info{
background-color: #17aa8b;
border-color: #17aa8b;

}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #6BC8B5;
    border-color: #6BC8B5;
    color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #858580;
    border-color: #858580;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #7ab740;
    border-color: #7ab740;
    color: #FFFFFF;
}

.dataTables_filter {
    float:left ;
    text-align: left ;
    margin-top: -50px;
    width: 70%;

}

.dataTables_filter label input{
    width: 50% !important;
}


.btn-agregar{
    padding-top: 20px;
}

.dropdown-menu{

    z-index: 1100 !important;
}


.plan-panel{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.light-green{
    background-color: #cfdd3f;}
    
    .medium-green{
    background-color: #7ab740 
    
    }
    
    .dark-green{
    background-color: #1c6b34;
    
    }
    
    .blue{
        background-color: #3da3cb;
    }
    
    .gray{
        background-color: #858580;
    }

    .turquoise{
        background-color: #1FB5AD;
    }
    
    .ancho-columna{
        width: 30px !important;
        min-width: 30px !important
        
    }

    .mini-stat-info.detalle span {
        display: block;
        font-size: 15px;
        font-weight: 600;
    }

    .leyenda {
        width: 20px;
        height: 20px;
        border-style: solid;
    }