.subtitulo h4{
    border-bottom: 1px solid #767676;
}

/*botones*/
.btn-aceptar {
    background-color: #7ab740;
    border-color: #7ab740;
    color: #FFFFFF;
    float: right;
    width: 90px;
    margin-left: 5px;
}

.btn-aceptar:hover, .btn-aceptar:focus, .btn-aceptar:active, .btn-aceptar.active, .open .dropdown-toggle.btn-aceptar {

    background-color: #7ab740;
    border-color: #7ab740;
    color: #FFFFFF;
}

.btn-cancelar {
    background-color: #858580;
    border-color: #858580;
    color: #FFFFFF;
    float: right;
    width: 90px;
}

.btn-cancelar:hover, .btn-cancelar:focus, .btn-cancelar:active, .btn-cancelar.active, .open .dropdown-toggle.btn-cancelar {
    background-color: #858580;
    border-color: #858580;
    color: #FFFFFF;
}

.btn-agregar {
    background-color: #17aa8b;
    border-color: #17aa8b;
    color: #FFFFFF;
    display: inline-block;
}

.btn-agregar:hover, .btn-agregar:focus, .btn-agregar:active, .btn-agregar.active, .open .dropdown-toggle.btn-agregar {
    background-color: #117c66;
    border-color: #117c66;
    color: #FFFFFF;
}

.btn-transparente{
    background: none;
}

/*collapse*/

.panel-default > .panel-heading {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #797979;
}

/*nav justified*/

.nav-justified {
    width: auto !important;
    background-color: #d3d3d3;
}

.nav-justified li > a:hover, .nav-justified li > a:focus {
    border-radius: 0 4px 0 0 !important;
    -webkit-border-radius: 0 4px 0 0 !important;
    color: #17aa8b;
}


.nav-justified li:last-child > a:hover, .nav-justified li.active:last-child > a {
    border-radius: 0 4px 0 0 !important;
    -webkit-border-radius: 0 4px 0 0 !important;
}

/* tablas */
.dataTables_filter {
    float:left ;
    text-align: left ;
}

.dataTables_filter  label input {
    margin-left: 40px;
    width:50% !important;
}

.ancho-columna {
    width: 10% !important;
}

.adv-table .dataTables_filter label input {
    margin-left:10px;
    width:50%;
}